.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal-dialog {
  max-width: 950px;
  margin: 0 auto;
}


.modal {
  --bs-modal-bg: transparent;
  --bs-modal-border-color: transparent;
  --bs-modal-footer-border-color: transparent;  
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.modal-header {
  border-bottom: none;
  padding: 10px;
}


.modal-body {
  padding: 0;
}